### Create a mask with folium

1. plot polygons for MO, IL  
2. get polygon for St. Louis City County  
3. subtract \#2 from \#1

In [1]:
# IMPORTS
import geopandas as gpd
import pandas as pd

# import os
# import urllib.request
# import requests
# import shutil
# from pathlib import Path
# from zipfile import ZipFile

import matplotlib.pyplot as plt
from matplotlib import pyplot

import folium

from shapely.geometry import Point, Polygon

# from geopandas.tools import overlay

# from geopy.geocoders import Nominatim # for geocoding

# import random # for obscuring sex offender names

# a few more imports specfic to the database process
# import geoalchemy2 
import getpass

import psycopg2
import numpy
from psycopg2.extensions import adapt, register_adapter, AsIs

from sqlalchemy import create_engine

In [2]:
# get user password for connecting to the db
mypasswd = getpass.getpass()

········

In [16]:
# set up db connection
conn = psycopg2.connect(database = 'cappsds_psmd39', 
                              user = 'psmd39', 
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)

In [17]:
# establish cursor and read the existing tables
cursor = conn.cursor()

cursor.execute("""SELECT relname FROM pg_class WHERE relkind='r'
                  AND relname !~ '^(pg_|sql_)';""") # "rel" is short for relation.

tables = [i[0] for i in cursor.fetchall()] # A list() of tables.
tables.sort()
tables

['country_borders',
 'gadm_admin_borders',
 'geonames_feature',
 'msorfailedgeocoding',
 'msorfailedgeocodingv2',
 'spatial_ref_sys',
 'stlchildcare',
 'stlnonrestrictedresidential',
 'stlnonrestrictedresparcels',
 'stlpubschools',
 'stlpvtschools',
 'stlresparcels',
 'stlrestrictedflat',
 'stlsexoffenders',
 'stlzoning']

In [24]:
cursor.execute("""SELECT table_schema, table_name 
                        FROM information_schema.tables
                        WHERE table_schema !~ '^(information_)' AND table_name !~ '^(pg_|sql_)';""") 
cursor.fetchall()

[('public', 'stlpubschools'),
 ('public', 'geography_columns'),
 ('public', 'geometry_columns'),
 ('public', 'spatial_ref_sys'),
 ('public', 'raster_columns'),
 ('public', 'raster_overviews'),
 ('public', 'stlpvtschools'),
 ('public', 'stlchildcare'),
 ('public', 'stlzoning'),
 ('public', 'stlrestrictedflat'),
 ('public', 'stlsexoffenders'),
 ('public', 'stlnonrestrictedresidential'),
 ('public', 'stlnonrestrictedresparcels'),
 ('public', 'stlresparcels'),
 ('public', 'msorfailedgeocodingv2'),
 ('public', 'msorfailedgeocoding')]

In [27]:
conn.close()

In [19]:
# BASIC SELECT TO A DATAFRAME 
# query the table and read data into a df 
sql = "select * from geography_columns LIMIT 10;"
msor_nogeo = pd.read_sql_query(sql, conn)
print(msor_nogeo.shape)
msor_nogeo.head()

(0, 7)

Empty DataFrame
Columns: [f_table_catalog, f_table_schema, f_table_name, f_geography_column, coord_dimension, srid, type]
Index: []

In [26]:
# SELECT TO A GEODATAFRAME
# create sql statement and pull from db into a geopandas dataframe
sql = "SELECT * FROM geospatial.gadm_admin_borders;"
gdf1 = gpd.read_postgis(sql, conn)
# gpd_childcare = gpd_childcare.drop(columns='geometry') # drop the duplicate geometry column
gdf1.head()

DatabaseError: Execution failed on sql 'SELECT * FROM geospatial.gadm_admin_borders;': permission denied for schema geospatial
LINE 1: SELECT * FROM geospatial.gadm_admin_borders;
                      ^

In [ ]:
m_sm = folium.Map([38.63, -90.22], tiles='openstreetmap', zoom_start=13)

# set the details of the style for our polygons
style_function = lambda x: {
    'fillColor': AsdTotal_colormap(x['properties']['AsdTotal']), # apply our colormap here
    'color': 'black', # polygon outlines
    'weight': 0.5, # outline weight
    'fillOpacity': 0.7
}


folium.GeoJson(
    prcl_plot_sm,
    style_function=style_function,
    tooltip=folium.GeoJsonTooltip(
        fields=['HANDLE', 'AsdTotal'],
        aliases=['Handle', 'Assessed Total']
    )
).add_to(m_sm)

m_sm