### Database Troubleshooting

Resources, tips, and utilities for all those times when I choke the database.

[Finding and killing long running queries on PostgreSQL](https://medium.com/little-programming-joys/finding-and-killing-long-running-queries-on-postgres-7c4f0449e86d)

In [1]:
# IMPORTS
import geopandas as gpd
import pandas as pd

# import os
# import urllib.request
# import requests
# import shutil
# from pathlib import Path
# from zipfile import ZipFile

import matplotlib.pyplot as plt
from matplotlib import pyplot

# import folium

# from shapely.geometry import Point, Polygon

# from geopandas.tools import overlay

# from geopy.geocoders import Nominatim # for geocoding

# a few more imports specfic to the database process
# import geoalchemy2 
import getpass

import psycopg2
import numpy
from psycopg2.extensions import adapt, register_adapter, AsIs

from sqlalchemy import create_engine

In [2]:
# pip install GeoAlchemy2

Collecting GeoAlchemy2==0.11.0
  Downloading https://files.pythonhosted.org/packages/5e/3b/2fe641f8ab19b795acc3a7589cec161884921c9d885903d11c34722fc1b6/GeoAlchemy2-0.11.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 971kB/s eta 0:00:011
Requirement already satisfied: SQLAlchemy>=1.1 in /opt/conda/lib/python3.7/site-packages (from GeoAlchemy2==0.11.0) (1.4.22)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from GeoAlchemy2==0.11.0) (21.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /opt/conda/lib/python3.7/site-packages (from SQLAlchemy>=1.1->GeoAlchemy2==0.11.0) (1.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/conda/lib/python3.7/site-packages (from SQLAlchemy>=1.1->GeoAlchemy2==0.11.0) (4.6.1)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->GeoAlchemy2==0.11.0) (2.4.7)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /opt/conda/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->SQLAlchemy>=1.1->GeoAlchemy2==0.11.0) (3.10.0.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->SQLAlchemy>=1.1->GeoAlchemy2==0.11.0) (3.5.0)
Installing collected packages: GeoAlchemy2
  Found existing installation: GeoAlchemy2 0.10.2
    Uninstalling GeoAlchemy2-0.10.2:
      Successfully uninstalled GeoAlchemy2-0.10.2
Successfully installed GeoAlchemy2-0.11.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install GeoAlchemy2==0.10.2

In [3]:
import geoalchemy2

In [4]:
# get user password for connecting to the db
mypasswd = getpass.getpass()

········

In [5]:
# set up db connection
conn = psycopg2.connect(database = 'cappsds_psmd39', 
                              user = 'psmd39', 
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)


# establish cursor and read the existing tables
cursor = conn.cursor()

cursor.execute("""SELECT relname FROM pg_class WHERE relkind='r'
                  AND relname !~ '^(pg_|sql_)';""") # "rel" is short for relation.

tables = [i[0] for i in cursor.fetchall()] # A list() of tables.
tables.sort()
tables

['country_borders',
 'gadm_admin_borders',
 'geonames_feature',
 'spatial_ref_sys',
 'stlchildcare',
 'stlnonrestrictedresidential',
 'stlnonrestrictedresparcels',
 'stlpubschools',
 'stlpvtschools',
 'stlresparcels',
 'stlrestrictedflat',
 'stlsexoffenders',
 'stlzoning']

In [7]:
# check out the active connections
cursor.execute("""SELECT count(*),state FROM pg_stat_activity GROUP BY 2;""")
# cursor.execute("""SELECT * FROM pg_stat_activity WHERE state = 'active';""")
# cursor.execute("""SELECT * FROM pg_stat_activity WHERE state = 'idle';""")
# cursor.execute("""SELECT
#                       pid,
#                       now() - pg_stat_activity.query_start AS duration,
#                       query,
#                       state
#                     FROM pg_stat_activity
#                     WHERE (now() - pg_stat_activity.query_start) > interval '5 minutes';""")

# cursor.execute("""SELECT pg_terminate_backend(pid) FROM pg_stat_activity""")
# cursor.execute("""SELECT pg_cancel_backend(pid);""")

cursor.fetchall()

[(21, None), (1, 'active')]

In [26]:
cursor.execute("""GRANT SELECT ON geospatial.gadm_admin_borders TO psmd39;""")
cursor.fetchall()

InsufficientPrivilege: permission denied for relation gadm_admin_borders

In [7]:
cursor.execute("""ALTER TABLE msorfailedgeocodingv2 RENAME TO msorfailedgeocodingv2_basic;""")
msorfailedgeocoding_basic

NameError: name 'msorfailedgeocoding_basic' is not defined

In [14]:
# RENAME A TABLE

engine = create_engine('postgresql://psmd39:Mizzou23?@pgsql.dsa.lan:5432/cappsds_psmd39', echo=False)
result = engine.execute('ALTER TABLE stlsexoffenders RENAME TO stlsexoffenders_basic;')

In [16]:
# PLACEHOLDER TO DROP A TABLE IF NECESSARY

engine = create_engine('postgresql://psmd39:Mizzou23?@pgsql.dsa.lan:5432/cappsds_psmd39', echo=False)
result = engine.execute('DROP TABLE IF EXISTS public.stlsexoffenders;')

In [15]:
# PLACEHOLDER TO DROP A TABLE IF NECESSARY

engine = create_engine('postgresql://psmd39:Mizzou23?@pgsql.dsa.lan:5432/cappsds_psmd39', echo=False)
result = engine.execute('DROP INDEX stlsexoffenders.idx_stlsexoffenders_geometry;')

NotSupportedError: (psycopg2.errors.FeatureNotSupported) cross-database references are not implemented: "public.stlsexoffenders.idx_stlsexoffenders_geometry"

[SQL: DROP INDEX public.stlsexoffenders.idx_stlsexoffenders_geometry;]
(Background on this error at: https://sqlalche.me/e/14/tw8g)

In [ ]:
DROP INDEX table_name.index_name;

In [18]:
cursor.execute("""SELECT relname FROM pg_class WHERE relkind='r'
                  AND relname !~ '^(pg_|sql_)';""") # "rel" is short for relation.

tables = [i[0] for i in cursor.fetchall()] # A list() of tables.
tables.sort()
tables

['country_borders',
 'gadm_admin_borders',
 'geonames_feature',
 'spatial_ref_sys',
 'stlchildcare',
 'stlnonrestrictedresidential',
 'stlnonrestrictedresparcels',
 'stlpubschools',
 'stlpvtschools',
 'stlresparcels',
 'stlrestrictedflat',
 'stlzoning']

In [24]:
conn.close()

In [21]:
# test to make sure the load actually worked
# query the table and read data into a geodf 
sql = "select * from stlsexoffenders;"
db_test_out = pd.read_sql(sql, conn)
db_test_out

DatabaseError: Execution failed on sql 'select * from stlsexoffenders;': relation "stlsexoffenders" does not exist
LINE 1: select * from stlsexoffenders;
                      ^

In [34]:
db_test_out.to_csv(r'msorfailedgeocodingv2_basic.csv', index = False)

## Read data from CSV, convert to geodataframe, load to PostGIS

In [13]:
df = pd.read_csv('data/stlsexoffenders.csv')
df.head()

,randomid,name,address,city,st,zip,county,offense,offense_city,offense_state,...,compliant,tier,offense_date,conviction_date,confinement_release_date,probation/parole_release_date,offender_age_at_time_of_offense,lat,long,geometry
0,30626,"ABERNATHY, STEVIE A",133 BAYVIEW DR,SAINT LOUIS,MO,63135,ST LOUIS,STATUTORY RAPE-2ND DEGRE,ST PETERS,MO,...,Y,3,2014-01-26,2015-12-18,2019-08-23,2023-08-09 00:00:00,22,38.744944,-90.290619,POINT (-90.29061867340511 38.7449439570314)
1,36296,"ABRAMS, NORVELL L",1946 HEBERT ST,SAINT LOUIS,MO,63107,ST LOUIS CITY,ATTEMPT SEXUAL ABUSE,PAGEDALE,MO,...,Y,2,2002-10-14,2003-02-21,2006-10-14,2006-10-14 00:00:00,29,38.654602,-90.201029,POINT (-90.20102902857143 38.65460202857142)
2,19536,"ADAMS, BRYANT A",7614 FLORISSANT RD,SAINT LOUIS,MO,63121,ST LOUIS,STAT RAPE-1ST DEG-PERS UNDER 14,ST LOUIS,MO,...,Y,3,2005-09-18,2006-10-06,NaN,NaN,17,38.710232,-90.301116,POINT (-90.30111572682809 38.71023188062727)
3,6750,"ADAMS, DAMEON A",8022 JOEL AVE,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLESTATION-1ST,ST LOUIS CITY,MO,...,Y,3,1996-09-01,1997-07-29,1998-01-22,NaN,18,38.564085,-90.313727,POINT (-90.31372717702361 38.56408510964898)
4,24283,"ADAMS, GEORGE N",9921 HEATHERTON DR,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLEST-1ST DEGREE,ST LOUIS COUNTY,MO,...,Y,3,2007-01-01,2017-06-15,NaN,NaN,55,38.539049,-90.354750,POINT (-90.35474961156422 38.53904943784296)

In [20]:
from shapely.geometry import Point, Polygon

# create the 'geometry' column for the geodataframe
geometry = [Point(xy) for xy in zip(df['long'], df['lat'])]
# generate the geodataframe using the msor df + the geometry info
# set the CRS (in degrees) as part of this process
msor_db = gpd.GeoDataFrame(df, geometry = geometry, crs=4326)

In [21]:
msor_db.head()

,randomid,name,address,city,st,zip,county,offense,offense_city,offense_state,...,compliant,tier,offense_date,conviction_date,confinement_release_date,probation/parole_release_date,offender_age_at_time_of_offense,lat,long,geometry
0,30626,"ABERNATHY, STEVIE A",133 BAYVIEW DR,SAINT LOUIS,MO,63135,ST LOUIS,STATUTORY RAPE-2ND DEGRE,ST PETERS,MO,...,Y,3,2014-01-26,2015-12-18,2019-08-23,2023-08-09 00:00:00,22,38.744944,-90.290619,POINT (-90.29062 38.74494)
1,36296,"ABRAMS, NORVELL L",1946 HEBERT ST,SAINT LOUIS,MO,63107,ST LOUIS CITY,ATTEMPT SEXUAL ABUSE,PAGEDALE,MO,...,Y,2,2002-10-14,2003-02-21,2006-10-14,2006-10-14 00:00:00,29,38.654602,-90.201029,POINT (-90.20103 38.65460)
2,19536,"ADAMS, BRYANT A",7614 FLORISSANT RD,SAINT LOUIS,MO,63121,ST LOUIS,STAT RAPE-1ST DEG-PERS UNDER 14,ST LOUIS,MO,...,Y,3,2005-09-18,2006-10-06,NaN,NaN,17,38.710232,-90.301116,POINT (-90.30112 38.71023)
3,6750,"ADAMS, DAMEON A",8022 JOEL AVE,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLESTATION-1ST,ST LOUIS CITY,MO,...,Y,3,1996-09-01,1997-07-29,1998-01-22,NaN,18,38.564085,-90.313727,POINT (-90.31373 38.56409)
4,24283,"ADAMS, GEORGE N",9921 HEATHERTON DR,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLEST-1ST DEGREE,ST LOUIS COUNTY,MO,...,Y,3,2007-01-01,2017-06-15,NaN,NaN,55,38.539049,-90.354750,POINT (-90.35475 38.53905)

In [23]:
# Set up database connection engine
# FORMAT: engine = create_engine('postgresql://user:password@host:5432/')
engine = create_engine('postgresql://psmd39:Mizzou23?@pgsql.dsa.lan:5432/cappsds_psmd39', echo=False)

# GeoDataFrame to PostGIS
msor_db.to_postgis(
    con=engine,
    name="stlsexoffenders_detailed",
    if_exists='replace'
)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "idx_stlsexoffenders_detailed_geometry" already exists

[SQL: CREATE INDEX idx_stlsexoffenders_detailed_geometry ON public.stlsexoffenders_detailed USING gist (geometry)]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Working with Dr. Scott - Mar 19

In [6]:
df = pd.read_csv('data/stlsexoffenders.csv')
df.head()

,randomid,name,address,city,st,zip,county,offense,offense_city,offense_state,...,compliant,tier,offense_date,conviction_date,confinement_release_date,probation/parole_release_date,offender_age_at_time_of_offense,lat,long,geometry
0,30626,"ABERNATHY, STEVIE A",133 BAYVIEW DR,SAINT LOUIS,MO,63135,ST LOUIS,STATUTORY RAPE-2ND DEGRE,ST PETERS,MO,...,Y,3,2014-01-26,2015-12-18,2019-08-23,2023-08-09 00:00:00,22,38.744944,-90.290619,POINT (-90.29061867340511 38.7449439570314)
1,36296,"ABRAMS, NORVELL L",1946 HEBERT ST,SAINT LOUIS,MO,63107,ST LOUIS CITY,ATTEMPT SEXUAL ABUSE,PAGEDALE,MO,...,Y,2,2002-10-14,2003-02-21,2006-10-14,2006-10-14 00:00:00,29,38.654602,-90.201029,POINT (-90.20102902857143 38.65460202857142)
2,19536,"ADAMS, BRYANT A",7614 FLORISSANT RD,SAINT LOUIS,MO,63121,ST LOUIS,STAT RAPE-1ST DEG-PERS UNDER 14,ST LOUIS,MO,...,Y,3,2005-09-18,2006-10-06,NaN,NaN,17,38.710232,-90.301116,POINT (-90.30111572682809 38.71023188062727)
3,6750,"ADAMS, DAMEON A",8022 JOEL AVE,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLESTATION-1ST,ST LOUIS CITY,MO,...,Y,3,1996-09-01,1997-07-29,1998-01-22,NaN,18,38.564085,-90.313727,POINT (-90.31372717702361 38.56408510964898)
4,24283,"ADAMS, GEORGE N",9921 HEATHERTON DR,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLEST-1ST DEGREE,ST LOUIS COUNTY,MO,...,Y,3,2007-01-01,2017-06-15,NaN,NaN,55,38.539049,-90.354750,POINT (-90.35474961156422 38.53904943784296)

In [7]:
from shapely.geometry import Point, Polygon

# create the 'geometry' column for the geodataframe
geometry = [Point(xy) for xy in zip(df['long'], df['lat'])]
# generate the geodataframe using the msor df + the geometry info
# set the CRS (in degrees) as part of this process
msor_db = gpd.GeoDataFrame(df, geometry = geometry, crs=4326) 
msor_db.shape

(3631, 23)

In [18]:
msor_db_toptwo = msor_db.head(2)
msor_db_toptwo = msor_db_toptwo.set_index('randomid')
msor_db_toptwo

,name,address,city,st,zip,county,offense,offense_city,offense_state,victim_gender,...,compliant,tier,offense_date,conviction_date,confinement_release_date,probation/parole_release_date,offender_age_at_time_of_offense,lat,long,geometry
randomid,,,,,,,,,,,,,,,,,,,,,
30626,"ABERNATHY, STEVIE A",133 BAYVIEW DR,SAINT LOUIS,MO,63135,ST LOUIS,STATUTORY RAPE-2ND DEGRE,ST PETERS,MO,F,...,Y,3,2014-01-26,2015-12-18,2019-08-23,2023-08-09 00:00:00,22,38.744944,-90.290619,POINT (-90.29062 38.74494)
36296,"ABRAMS, NORVELL L",1946 HEBERT ST,SAINT LOUIS,MO,63107,ST LOUIS CITY,ATTEMPT SEXUAL ABUSE,PAGEDALE,MO,F,...,Y,2,2002-10-14,2003-02-21,2006-10-14,2006-10-14 00:00:00,29,38.654602,-90.201029,POINT (-90.20103 38.65460)

In [8]:
engine = create_engine('postgresql://psmd39:Mizzou23?@pgsql.dsa.lan:5432/cappsds_psmd39', echo=False)

In [10]:
# GeoDataFrame to PostGIS
msor_db.to_postgis(
    con=engine,
    name="stlsexoffenders",
    if_exists='replace'
)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "idx_stlsexoffenders_geometry" already exists

[SQL: CREATE INDEX idx_stlsexoffenders_geometry ON public.stlsexoffenders USING gist (geometry)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
sql = "select * from stlsexoffenders;"
db_test_out = pd.read_sql(sql, conn)
db_test_out

,randomid,name,address,city,st,zip,county,offense,offense_city,offense_state,...,compliant,tier,offense_date,conviction_date,confinement_release_date,probation/parole_release_date,offender_age_at_time_of_offense,lat,long,geometry
0,30626,"ABERNATHY, STEVIE A",133 BAYVIEW DR,SAINT LOUIS,MO,63135,ST LOUIS,STATUTORY RAPE-2ND DEGRE,ST PETERS,MO,...,Y,3,2014-01-26,2015-12-18,2019-08-23,2023-08-09 00:00:00,22,38.744944,-90.290619,0101000020E61000007078107F999256C0BF66D6525A5F...
1,36296,"ABRAMS, NORVELL L",1946 HEBERT ST,SAINT LOUIS,MO,63107,ST LOUIS CITY,ATTEMPT SEXUAL ABUSE,PAGEDALE,MO,...,Y,2,2002-10-14,2003-02-21,2006-10-14,2006-10-14 00:00:00,29,38.654602,-90.201029,0101000020E6100000B4D0DBA8DD8C56C0064ED0FFC953...
2,19536,"ADAMS, BRYANT A",7614 FLORISSANT RD,SAINT LOUIS,MO,63121,ST LOUIS,STAT RAPE-1ST DEG-PERS UNDER 14,ST LOUIS,MO,...,Y,3,2005-09-18,2006-10-06,None,None,17,38.710232,-90.301116,0101000020E61000006DC2E57A459356C073EFD5E0E85A...
3,6750,"ADAMS, DAMEON A",8022 JOEL AVE,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLESTATION-1ST,ST LOUIS CITY,MO,...,Y,3,1996-09-01,1997-07-29,1998-01-22,None,18,38.564085,-90.313727,0101000020E6100000B24B271B149456C02D0DDDF03348...
4,24283,"ADAMS, GEORGE N",9921 HEATHERTON DR,SAINT LOUIS,MO,63123,ST LOUIS,CHILD MOLEST-1ST DEGREE,ST LOUIS COUNTY,MO,...,Y,3,2007-01-01,2017-06-15,None,None,55,38.539049,-90.354750,0101000020E6100000F8FBB637B49656C03A3B6D92FF44...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626,32101,"ZIMMER, ERIC J",5221 S BROADWAY,SAINT LOUIS,MO,63111,ST LOUIS CITY,PREDATORY CRIMINAL SEXUAL ASSAULT,CHICAGO,IL,...,Y,3,1999-12-01,2001-05-02,None,None,27,38.565134,-90.239789,0101000020E6100000EE3189B4588F56C0C89003535648...
3627,5596,"ZIMMERER, RICHARD K",4600 POEPPING ST,SAINT LOUIS,MO,63123,ST LOUIS CITY,ABUSE OF CHILD,ST LOUIS,MO,...,Y,3,1995-01-07,1995-10-10,None,None,36,38.558506,-90.287920,0101000020E610000051F701486D9256C0554FE61F7D47...
3628,30627,"ZIMMERER, RICHARD K",4600 POEPPING ST,SAINT LOUIS,MO,63123,ST LOUIS CITY,DEVIATE SEXUAL ASSAULT,ST LOUIS,MO,...,Y,3,1995-01-07,1995-10-10,2009-03-25,None,36,38.558506,-90.287920,0101000020E610000051F701486D9256C0554FE61F7D47...
3629,8304,"ZUNIGA, ANDRES",3644 ROSWELL AVE,SAINT LOUIS,MO,63116,ST LOUIS CITY,CHILD MOLEST-1ST DEGREE,ST LOUIS,MO,...,Y,3,1999-12-25,2000-09-01,None,None,32,38.557082,-90.266005,0101000020E610000009523439069156C0A72E28734E47...
3630,312,"ZUNIGA, ANDRES",3644 ROSWELL AVE,SAINT LOUIS,MO,63116,ST LOUIS CITY,CHILD MOLEST-1ST DEGREE,ST LOUIS,MO,...,Y,3,1999-12-25,2000-09-01,None,None,32,38.557082,-90.266005,0101000020E610000009523439069156C0A72E28734E47...